@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #00171F;
  --color-backgroundend: #000B0F;
  --color-foreground: #0B2730;
  --color-offwhite: #F8F7F4;
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --font-inter: "var(--font-inter)", "sans-serif";
  --font-spacegrotesk: "var(--font-spacegrotesk)", "sans-serif";

}


@layer base {
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}